amavisd-new-2.8.0.tar.gz
/amavisd-new-2.8.1.tar.gz
/amavisd-new-2.9.0.tar.xz
/amavisd-new-2.9.1.tar.xz
/amavisd-new-2.10.0-rc2.tar.xz
/amavisd-new-2.10.0.tar.xz
/amavisd-new-2.10.1.tar.xz
/amavisd-new-2.11.0.tar.xz
